<app-toolbar></app-toolbar>
<ngx-spinner bdColor = "rgb(234,173,238)" size = "large" color = "#fefefe" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > cargando... </p></ngx-spinner>
<h1 class="tituloHome">Elegí tu curso ideal</h1>
<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title class="titulo">Maquillaje Profesional</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="https://images.pexels.com/photos/7290740/pexels-photo-7290740.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>The Shiba Inu is the smallest of the six original</p>
    </mat-card-content>
    <mat-card-actions>
      <a
        routerLink="cursos"
        routerLinkActive="router-link-active"
        mat-flat-button
        color="primary"
        class="button"
        >Ver mas</a
      >
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title class="titulo">aplicacion de pestañas</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="https://images.pexels.com/photos/4006697/pexels-photo-4006697.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>The Shiba Inu is the smallest of the six original</p>
    </mat-card-content>
    <mat-card-actions>
      <a
        routerLink="cursos"
        routerLinkActive="router-link-active"
        mat-flat-button
        color="primary"
        class="button"
        >Ver mas</a
      >
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title class="titulo">pedicura profesional</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="https://images.pexels.com/photos/4963851/pexels-photo-4963851.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>The Shiba Inu is the smallest of the six original</p>
    </mat-card-content>
    <mat-card-actions>
      <a
        routerLink="cursos"
        routerLinkActive="router-link-active"
        mat-flat-button
        color="primary"
        class="button"
        >Ver mas</a
      >
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title class="titulo">manicura profesional</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="https://images.pexels.com/photos/3997354/pexels-photo-3997354.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>The Shiba Inu is the smallest of the six original</p>
    </mat-card-content>
    <mat-card-actions>
      <a
        routerLink="cursos"
        routerLinkActive="router-link-active"
        mat-flat-button
        color="primary"
        class="button"
        >Ver mas</a
      >
    </mat-card-actions>
  </mat-card>
  <router-outlet></router-outlet>
</div>
