<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Maquillaje Profesional</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a
        routerLink="cursos"
        routerLinkActive="router-link-active"
        mat-flat-button
        color="primary"
        >Ver mas</a
      >
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>aplicacion de pestañas</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a
        routerLink="cursos"
        routerLinkActive="router-link-active"
        mat-flat-button
        color="primary"
        >Ver mas</a
      >
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>pedicura profesional</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a
        routerLink="cursos"
        routerLinkActive="router-link-active"
        mat-flat-button
        color="primary"
        >Ver mas</a
      >
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>manicura profesional</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a
        routerLink="cursos"
        routerLinkActive="router-link-active"
        mat-flat-button
        color="primary"
        >Ver mas</a
      >
    </mat-card-actions>
    <router-outlet></router-outlet>
  </mat-card>
</div>
