 .example-card {
    max-width: 220px;
    margin: 10px;
  }
   .tituloHome{
  
    font-size: 25px;
    color:black;
    text-align: center;
    margin-top: 1rem;
   }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .container {
      display: flex;
        flex-direction: row;
        margin-left: 15%;
        margin-top: 20px;
  }
  .titulo{
    text-align: center;
  }
  .button{
    margin-left: 25%;
  }