<div *ngIf="sesionActiva" class="toolbar">
  <div class="bienvenido">
    <h2>Bienvenido!</h2>
    <h3>
      "{{ sesionActiva.usuario.nombre }}"
    </h3>
  </div>
  <div>
    <button
      routerLink="cursos"
      routerLinkActive="router-link-active"
      mat-button
    >
      Cursos
    </button>
  </div>
  <div>
    <button
      routerLink="alumnos"
      routerLinkActive="router-link-active"
      mat-button
    >
      Alumnos
    </button>
  </div>

  <div>
    <button
      routerLink="inscripciones"
      routerLinkActive="router-link-active"
      mat-button
    >
      Inscripciones
    </button>
  </div>
  <router-outlet></router-outlet>
</div>
