<div *ngIf="sesionActiva.activa" class="toolbar">
  <div>
    <button
      [routerLink]="'/cursos'"
      [routerLinkActive]="'router-link-active'"
      mat-button
    >
      Cursos
    </button>
  </div>
  <div>
    <button
      [routerLink]="'/alumnos'"
      [routerLinkActive]="'router-link-active'"
      mat-button
    >
      Alumnos
    </button>
  </div>
  <div>
    <button
      [routerLink]="'/inscripciones'"
      [routerLinkActive]="'router-link-active'"
      mat-button
    >
      Inscripciones
    </button>
  </div>
</div>
