<button
  mat-flat-button
  color="primary"
  class="agregarCurso"
  (click)="abrirAddCursoDialog(cursos)"
>
  agregar curso
</button>
<div *ngFor="let curso of cursos">
  <mat-card>
    <mat-card-title-group>
      <mat-card-title class="titulo">{{ curso.nombre }}</mat-card-title>
      <mat-card-subtitle
        >duracion: desde {{ curso.fechaInicio | date: 'dd/MM/YYYY'  }} , hasta {{curso.fechaFin | date: 'dd/MM/YYYY' }}</mat-card-subtitle
      >
    </mat-card-title-group>
    <mat-card-content>
      <p>descripcion: {{ curso.descripcion }}</p>
    </mat-card-content>
    <mat-card-content>
      <p>precio: $ {{ curso.precio }}</p>
    </mat-card-content>
    <mat-card-content>
      <p>profesor: {{curso.profesor.nombre}} {{curso.profesor.apellido}}</p>
      <p>estudiantes: {{curso.students}}</p> 
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-flat-button color="accent" (click)="abrirCursoDialog(curso)">
        Modificar
      </button>
      <button mat-flat-button color="warn" (click)="deleteCurso(curso.id)">
        Eliminar
      </button>
    </mat-card-actions>
  </mat-card>
  <br />
</div>
